/******************** COLOUR PALETTE 
#141414 - Dark gray, almost black
#1b203d - Dark blue, "Dusty night"
#d48911 - Yellow, "Golden"
#bac5cf - Light blue, "Dusty sky"
#ffffff  - White

********************/

/******************** FONTS ********************/

@font-face {
  font-family: "American Captain";
  src: url(../fonts/American-Captain.ttf);
}

@font-face {
  font-family: Candara;
  src: url(../fonts/Candara.ttf);
}

/******************** MEDIA QUERIES ********************/

@media only screen and (max-width: 1100px) {
  .logo img {
    position: absolute;
    margin-top: 110px;
    margin-left: 10px;
    z-index: 2;
  }

  main {
    padding: 160px 0% 45px 0%;
  }

  header {
    background-color: #1b203d;
    position: fixed;
    margin: -10px;
    height: 150px;
    width: 100%;
  }

  .topbar {
    padding-top: 20px;
    text-align: right;
  }

  .hamburger-menu--checkbox {
    position: absolute;
    width: 35px;
    top: 100px;
    right: 20px;
    z-index: 3;
  }

  #hamburger-menu {
    display: none;
  }

  #hamburger-menu:checked ~ nav {
    display: flex;
    flex-direction: row;
  }

  nav {
    display: none;
    background: #1b203d;
    top: 100px;
    right: 0px;
    width: 25%;
    border-radius: 0px 0px 0px 50px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  nav li {
    flex: 1rem;
    margin: 5px 0px;
    text-align: center;
  }

  nav img {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  nav p {
    margin: 5px 0px 10px 0px;
    padding-top: 5px;
  }

  nav img,
  footer img {
    max-width: 30px;
  }

  header a,
  footer a {
    font-size: 1rem;
  }

  h1,
  h2 {
    text-align: center;
  }

  .info {
    padding: 2% 15%;
  }

  .selling-points,
  .selling-points + p {
    text-align: center;
  }

  .error {
    margin-top: 5%;
  }

  .error h1 {
    font-style: italic;
    letter-spacing: 2px;
    font-size: 1.7rem;
  }

  .error h2 {
    font-size: 2rem;
    letter-spacing: 3px;
    color: #d48911;
  }

  .error p {
    font-size: 1.5rem;
    line-height: 2;
  }

  .return {
    font-size: 1.7rem;
  }

  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
  }

  footer li {
    flex: 1rem;
    margin: -15px 0px;
    text-align: center;
  }
}

@media only screen and (min-width: 1100px) {
  .logo img {
    position: fixed;
    margin-top: 70px;
    z-index: 2;
  }

  .topbar {
    text-align: center;
    padding-top: 5px;
    border-bottom: 3px solid #141414;
  }

  #hamburger-menu {
    display: none;
  }

  .hamburger-menu--checkbox {
    display: none;
  }

  nav {
    background-color: #1b203d;
    margin: -10px -10px 0px 100px;
    padding: 10px;
    top: 60px;
    right: 0px;
    height: 100px;
    width: 65%;
    border-radius: 100px 0px 0px 100px;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
  }

  li {
    flex: 1rem;
    margin: -15px 0px;
    text-align: center;
  }

  nav img,
  footer img {
    max-width: 35px;
  }

  header a,
  footer a {
    font-size: 1.2rem;
  }

  button {
    size: 1rem;
    padding: 0px;
  }

  main {
    padding: 220px 0% 40px 0%;
  }

  .info {
    padding: 1% 25%;
  }

  .left-align {
    margin: 0% 50% 0% 20%;
    text-align: right;
  }

  .right-align {
    margin: 0% 20% 0% 50%;
    text-align: left;
  }

  .error {
    background-color: #1b203d;
    margin-top: 15%;
    border-radius: 500px;
  }

  .error h1 {
    font-style: italic;
    letter-spacing: 2px;
    font-size: 2rem;
  }

  .error h2 {
    letter-spacing: 3px;
    color: #d48911;
  }

  .error p {
    font-size: 2rem;
  }

  .return {
    font-size: 3rem;
  }

  footer {
    border-radius: 50px 50px 0px 0px;
  }
}

/******************** GLOBAL ********************/

header {
  display: flex;
  flex-direction: row;
}

.topbar {
  background: #1b203d;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.topbar img {
  height: 35px;
}

.mode-switch-wrapper {
  display: flex;
  align-items: center;
}

.mode-switch-wrapper input {
  display: none;
}

.toggle {
  display: inline-block;
  position: relative;
  height: 26px;
  width: 50px;
}

.slider {
  background-color: #bac5cf;
  margin: 0px 5px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  transition: 0.4s;
}

.slider:before {
  background-color: #1b203d;
  position: absolute;
  bottom: 4px;
  left: 4px;
  height: 20px;
  width: 20px;
  content: "";
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1b203d;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 35px;
}

.slider.round:before {
  border-radius: 50%;
}

form.searchbar {
  display: flex;
}
form.searchbar input[type="text"] {
  background-color: #bac5cf;
  height: 35px;
  width: 200px;
  color: #1b203d;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: bold;
  padding: 0px 0px 0px 20px;
  border: 1px solid #141414;
  border-radius: 25px;
  margin: 0px 0px 5px 0px;
}

.topbar button {
  background-color: transparent;
  border: none;
  margin-left: -50px;
  align-content: center;
}

.logo img {
  width: 25%;
}

nav {
  position: fixed;
  padding: 30px;
  z-index: 1;
}

.purchase {
  display: inline-block;
}

body {
  background-color: #141414;
  color: #fff;
  font-family: Candara, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.current {
  border-top: 3px dashed #d48911;
}

h1,
h2 {
  font-family: "American Captain", "Courier New", Courier, monospace;
  color: #bac5cf;
  text-align: center;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  line-height: 5rem;
}

h2 {
  font-size: 2.5rem;
}

footer {
  background-color: #1b203d;
  margin: 0px -10px 0px -10px;
  padding: 10px 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
/******************** LINKS ********************/

a {
  font-family: "American Captain", "Courier New", Courier, monospace;
  font-size: 1.3rem;
  color: #d48911;
  text-decoration: none;
  letter-spacing: 0.1rem;
}

/******************** HOMEPAGE ********************/

.selection--banner {
  background-image: url("../visuals/banner_equipment-medium.png");
  background-position: 100% 50%;
}

.old-new--banner {
  background-image: url("../visuals/banner_old-new-medium.png");
  background-position: 0% 50%;
}

.selection--banner,
.old-new--banner {
  background-repeat: no-repeat;
  background-size: auto;
  border-top: 1px solid #1b203d;
  border-bottom: 1px solid #1b203d;
  position: sticky;
  padding: 5% 0%;
  opacity: 0.4;
  text-shadow: 3px 3px #141414;
  z-index: -1;
}

.selling-points {
  margin-bottom: 0px;
  font-family: "American Captain", "Courier New", Courier, monospace;
  font-size: 2rem;
  color: #bac5cf;
  letter-spacing: 0.3rem;
  -webkit-text-stroke: 1px #1b203d;
}

.selling-points + p {
  margin-top: 0px;
}

/******************** ERROR PAGE 404 ********************/

.logo--big img {
  position: absolute;
  width: 40%;
  margin: 0% 30%;
}
.error {
  margin-bottom: 0px;
  padding: 20px 30%;
  text-align: center;
}
