/**************************************** ASSETS ****************************************/

/******************** COLOUR PALETTE 
#141414 - Dark gray, almost black
#1b203d - Dark blue, "Dusty night"
#d48911 - Yellow, "Golden"
#bac5cf - Light blue, "Dusty sky"
#ffffff  - White

********************/

/******************** FONTS ********************/

@font-face {
  font-family: "American Captain"; /* ONLY FOR PERSONAL USE */
  src: url(../fonts/American-Captain.ttf);
}

@font-face {
  font-family: Candara;
  src: url(../fonts/Candara.ttf);
}

/**************************************** GLOBAL ****************************************/
/******************** CSS VARIABLES ********************/

.variables {
  --darkmode: #141414;
  --dusty-night: #1b203d;
  --golden: #d48911;
  --dusty-sky: #bac5cf;
  --white: #ffffff;
  --captain: "American Captain", "Courier New", Courier, monospace;
  --candara: Candara, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/******************** SHARED ATTRIBUTES ********************/

.logo img,
.topbar {
  z-index: 2;
}

.topbar,
footer {
  width: 100%;
}

.topbar,
.slider,
nav {
  right: 0px;
}

.topbar,
nav,
footer {
  position: fixed;
}

.topbar,
.mode-switch-wrapper {
  align-items: center;
}

.topbar img,
form.searchbar input[type="text"] {
  height: 25px;
}

.topbar,
.slider {
  top: 0px;
  left: 0px;
}

.slider:before,
input:checked + .slider,
footer {
  background-color: var(--dusty-night);
}

header,
.topbar,
form.searchbar,
.mode-switch-wrapper {
  display: flex;
}

.toggle,
.purchase {
  display: inline-block;
}

.slider,
form.searchbar input[type="text"] {
  background-color: var(--dusty-sky);
}

form.searchbar input[type="text"],
.error h1 {
  font-style: italic;
}

.slider,
.slider:before,
.logo--big img {
  position: absolute;
}

.error h2 {
  color: var(--golden);
}

h1,
h2 {
  font-family: var(--captain);
}

h1,
h2,
.selling-points {
  color: var(--dusty-sky);
}

.selection--banner,
.timeless--banner {
  background-repeat: no-repeat;
  background-size: auto;
  border-top: 1px solid var(--dusty-night);
  border-bottom: 1px solid var(--dusty-night);
  position: sticky;
  padding: 5% 0%;
  opacity: 0.4;
  text-shadow: 3px 3px var(--darkmode);
  z-index: -1;
}

.selling-points,
.error {
  margin-bottom: 0px;
}

/******************** GLOBAL ********************/

header {
  flex-direction: row;
}

.topbar {
  background: #313b7a;
  justify-content: space-around;
  height: 45px;
}

.mode-switch-wrapper input {
  display: none;
}

.toggle {
  position: relative;
  height: 26px;
  width: 50px;
}

.slider {
  margin: 0px 5px;
  bottom: 0px;
  cursor: pointer;
  transition: 0.4s;
}

.slider:before {
  bottom: 4px;
  left: 4px;
  height: 20px;
  width: 20px;
  content: "";
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 35px;
}

.slider.round:before {
  border-radius: 50%;
}

form.searchbar input[type="text"] {
  color: var(--dusty-night);
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0px 0px 0px 20px;
  border: 1px solid var(--darkmode);
  border-radius: 25px;
  margin: 0px 0px 5px 0px;
}

.topbar button {
  background-color: transparent;
  border: none;
  margin-left: -50px;
  align-content: center;
}

.hamburger-menu--checkbox {
  position: fixed;
  width: 35px;
  z-index: 3;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: flex;
  flex-direction: row;
}

footer img,
.return img {
  padding-right: 10px;
}

nav {
  z-index: 1;
  display: none;
}

body {
  background-color: var(--darkmode);
  color: #fff;
  font-family: var(--candara);
  font-size: 1.2rem;
  line-height: 1.6;
}

main {
  margin-bottom: 70px;
}

.cta {
  background-color: var(--golden);
  color: var(--dusty-sky);
  border: 3px solid var(--dusty-night);
  border-radius: 15px;
  font-family: var(--captain);
  -webkit-text-stroke: 1px var(--dusty-night);
  letter-spacing: 3px;
  margin-left: 20px;
  margin-bottom: 50px;
}

.table-space {
  padding-top: 20px;
}
.inactive {
  background-color: var(--dusty-sky);
  color: var(--white);
}

.crumbs {
  padding-left: 30px;
}

.info-table table,
.checkout-table table {
  text-align: center;
}

.info-table table,
.checkout-table table {
  width: 90%;
  margin-bottom: 50px;
  margin-left: 5%;
}

.info-table th {
  background-color: var(--dusty-night);
  color: var(--golden);
  font-family: var(--captain);
  letter-spacing: 3px;
}

.checkout-table th {
  color: var(--golden);
  font-family: var(--captain);
  letter-spacing: 3px;
}

.border-top {
  border-top: 5px solid var(--dusty-night);
}

.border-right {
  border-right: 5px solid var(--dusty-night);
}

.table-border {
  border: 3px solid var(--dusty-night);
}

.white {
  color: var(--white);
}

.bold {
  font-weight: bolder;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  line-height: 5rem;
}

h2 {
  font-size: 2.5rem;
}

footer {
  margin: 0px -10px 0px -10px;
  padding: 10px 5px;
  left: 0;
  bottom: 0;
}

/******************** LINKS ********************/

a {
  color: var(--golden);
  font-family: var(--captain);
  text-decoration: none;
  letter-spacing: 0.1rem;
}

a :hover {
  color: var(--dusty-sky);
  transition: color 0.5s ease;
}
/******************** FORMS ********************/
.account-form {
  margin: 0 25% 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: start;
  align-content: space-around;
}

.account-form tr {
  margin-bottom: 20px;
}

.centered {
  text-align: center;
  padding-top: 20px;
}

table {
  border-collapse: collapse;
  padding: 3px;
}

.input-info {
  padding-right: 70px;
}

input[type="text"],
input[type="email"],
input[type="textarea"],
input[type="tel"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="month"] {
  background: var(--dusty-sky);
  color: var(--dusty-night);
  margin: 10px;
  font-family: var(--candara);
  font-style: italic;
  border: 1px solid var(--darkmode);
  border-radius: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
}

label {
  padding-left: 40px;
}

/******************** HOMEPAGE ********************/

.selection--banner {
  background-image: url("../visuals/banner_equipment-medium.png");
  background-position: 100% 50%;
}

.timeless--banner {
  background-image: url("../visuals/banner_timeless-medium.png");
  background-position: 0% 50%;
}

.selling-points {
  font-family: var(--captain);
  font-size: 2rem;
  letter-spacing: 0.3rem;
  -webkit-text-stroke: 1px var(--dusty-night);
}

.selling-points + p {
  margin-top: 0px;
}

.index-nav {
  text-align: center;
}

/******************** ACCOUNT PROFILE ********************/

.container {
  display: flex;
}

.profile-info {
  margin: 0 20%;
}

.profile-card {
  background-color: var(--dusty-night);
  border: 15px solid var(--dusty-night);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: start;
  align-content: space-around;
  gap: 30px;
}

.flex-1 {
  order: 1;
}

.flex-2 {
  order: 2;
}

.flex-3 {
  order: 3;
}

.flex-4 {
  order: 4;
}

.flex-5 {
  order: 5;
}

.flex-1, .flex-2, .flex-3, .flex-4, .flex-5 {
  flex-basis: min-content;
}

.info-table {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: start;
  align-content: space-around;
  gap: 30px;
}

.info-card {
  background-color: var(--dusty-night);
  border: 15px solid var(--dusty-night);
  border-radius: 15px;
}

.info-header {
  font-family: var(--captain);
  color: var(--golden);
  font-size: 1.7rem;
}

.table-right {
  text-align: right;
  padding: 0px 15px 0 20px;
}

.table-left {
  text-align: left;
  padding: 0px 20px 0 15px;
}

.golden {
  color: var(--golden);
}

.italic {
  font-style: italic;
  font-size: 1rem;
}

.underline {
  border-bottom: 1px solid var(--golden);
}

/******************** PRODUCT LIST ********************/

#game-container {
text-align: center;
}

.game-product {
  margin: 15px;
  padding: 15px;
  background-color: var(--dusty-night);
  border: 15px solid var(--dusty-night);
  border-radius: 15px;
  display: inline-grid;
  column-gap: 30px;
}

.grid-2 {
  grid-column-start: span 2;
}

.game-title {
  font-size: 1.7rem;
}

.cover--small {
  margin: 30px auto 10px auto;
}

.pricetag {
  color: var(--golden);
  font-family: var(--captain);
  margin: -5px 0px;
}

.review {
  position: relative;
  background: var(--dusty-sky);
  color: var(--dusty-night);
  text-align: center;
  margin: auto;
  z-index: -1;
}

.second-hand {
  color: var(--dusty-sky);
  font-style: italic;
  text-transform: uppercase;
}

.second-hand img {
  width: 25px;
}

.game-desc {
  width: 40%;
  margin: auto;
}

/******************** CHECKOUT ********************/

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: start;
  align-content: space-around;
}

.flex-child {
  flex-basis: 300px;
}

.pay-icon {
  width: 25px;
  padding-right: 10px;
}

.dusty-sky {
  color: var(--dusty-sky);
}

.order-info {
  margin: 0 30% 2%;
}

/******************** ERROR PAGE 404 ********************/

.error {
  padding: 20px 30%;
  text-align: center;
}

.error h1 {
  letter-spacing: 2px;
}

.error h2 {
  letter-spacing: 3px;
}

.return {
  border-bottom: 3px dashed var(--golden);
}

/**************************************** MEDIA QUERIES ****************************************/

/******************** MOBILE MEDIA ********************/

@media only screen and (max-width: 1100px) {
  .logo img {
    position: absolute;
    margin-top: 110px;
    margin-left: 10px;
  }

  form.searchbar input[type="text"] {
    width: 150px;
  }

  nav {
    width: 100px;
    display: none;
  }

  main {
    padding: 160px 0px 0 0px;
  }

  header {
    background-color: var(--dusty-night);
    position: fixed;
    margin: -10px;
    height: 150px;
    width: 100%;
  }

  .logo img {
   width: 200px;
  }

  .shrink img {
    width: 150px;
  }

  .logo--big img {
    width: 300px;
  }

  .topbar {
    padding-top: 20px;
    text-align: right;
  }

  .hamburger-menu--checkbox {
    top: 80px;
    width: 35px;
    right: 20px;
  }

  #hamburger-menu {
    display: none;
  }

  #hamburger-menu:checked ~ nav,
  footer ul {
    display: flex;
  }

  #hamburger-menu:checked ~ nav,
  footer ul {
    flex-direction: row;
  }

  nav ul,
  footer ul {
    list-style-type: none;
  }

  nav li,
  footer li {
    flex: 1rem;
  }

  nav {
    background: var(--dusty-night);
    top: 120px;
    border-radius: 0px 0px 0px 50px;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 5px 0px 5px -25px;
  }

  nav img {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  nav p {
    margin: -20px 0px 25px 0px;
    padding-top: 5px;
    border-bottom: 1px solid #bac5cf;
  }

  .current {
    border-bottom: 3px dotted #d48911;
  }

  nav img,
  footer img {
    max-width: 30px;
  }

  header a,
  footer a {
    font-size: 1rem;
  }

  h1,
  h2,
  nav li,
  .selling-points,
  .selling-points p,
  .left-align,
  .right-align,
  footer li {
    text-align: center;
  }

.index-nav {
  font-size: 1.5em;
}

  .info {
    padding: 2% 15%;
  }

  

.crumbs {
  padding-top: 20px;
}

  .table-left,
  .table-right {
    font-size: 1rem;
  }

  .info-table,
  .checkout-table {
    margin: 25px 5px;
    font-size: 1rem;
  }

  .info-table th {
    font-size: 1.6rem;
  }

  .cover--big {
    height: 20rem;
  }

  .cover--small {
    height: 10rem;
  }

  .cover--smallest {
    height: 5rem;
  }

  .game-product {
    width: 300px;
    height: 550px;
    }

  .review {
    border-radius: 20px;
    width: 80px;
    padding: 3px 2px 2px 2px;
    margin: auto;
    text-transform: uppercase;
    font-family: var(--captain);
  }

  .review img {
    width: 12px;
  }

  .italic {
    font-size: 0.8rem;
  }

  .account-form,
  .page-form {
    font-size: 1rem;
  }

  .page-form {
    margin: 0 25% 50px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  input[type="password"] {
    width: 175px;
  }

  input[type="text"],
  input[type="email"],
  input[type="textarea"],
  input[type="tel"],
  input[type="number"],
  input[type="password"],
  input[type="date"],
  input[type="month"] {
    padding: 3px 8px;
    font-size: 0.7rem;
  }

  input[type="textarea"] {
    width: 250px;
    min-height: 80px;
  }

  .pricetag {
    font-size: 1.8rem;
  }

  .cta {
    font-size: 1.5rem;
    padding: 3px 15px;
  }

  .error {
    margin-top: 3%;
  }

  .error h1,
  .return {
    font-size: 1.7rem;
  }

  .error h2 {
    font-size: 2rem;
  }

  .error p {
    font-size: 1.5rem;
    line-height: 2;
  }

  .error img {
    width: 40px;
  }

  .return img {
    width: 20px;
    padding-right: 5px;
  }

  footer ul {
    justify-content: space-between;
  }

  footer li {
    margin: -15px 0px;
  }
}

/******************** PC MEDIA ********************/

@media only screen and (min-width: 1100px) {
  .logo img {
    position: fixed;
    margin-top: 45px;
  }

  .topbar {
    padding-top: 5px;
    border-bottom: 3px solid var(--darkmode);
  }

  form.searchbar input[type="text"] {
    width: 200px;
  }

  .topbar,
  li,
  h1,
  h2 {
    text-align: center;
  }

  .logo img {
    width: 300px;
  }

  .shrink img {
    width: 200px;
  }

  .logo--big img {
    width: 400px;
  }

  .hamburger-menu--checkbox {
    top: 10px;
    right: 30px;
  }

  nav,
  .error {
    background-color: var(--dusty-night);
  }

  nav img,
  footer img,
  .return img {
    width: 30px;
  }

  footer img,
  .return img {
    padding-right: 10px;
  }

  nav {
    display: none;
    margin: -20px 0px -20px 10px;
    padding: 30px;
    top: 60px;
    height: 50px;
    width: 450px;
    border-radius: 100px 0px 0px 100px;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
  }

  nav li {
    flex: 1rem;
    margin: -20px 15px;
  }

  nav p {
    margin-top: -3px;
  }

  .current {
    border-top: 3px dotted #d48911;
    margin-top: 0px;
  }

  footer li {
    flex: 1rem;
    margin: -15px 10%;
  }

  header a,
  footer a {
    font-size: 1.2rem;
  }

  button {
    size: 1rem;
    padding: 0px;
  }

  main {
    padding: 100px 0px 1px 0px;
  }

  .index-nav {
    font-size: 2em;
  }

  .info {
    padding: 1% 26%;
  }

  .left-align {
    margin: 0% 50% 0% 20%;
    text-align: right;
  }

  .right-align {
    margin: 0% 20% 0% 50%;
    text-align: left;
  }

  .page-form {
    margin: 0 35% 50px;
  }

  .crumbs {
    padding-top: 50px;
  }

  .info-table,
  .checkout-table {
    margin: 50px 5%;
  }

  .info-table {
    font-size: 1rem;
  }

  .checkout-table th {
    font-size: 1.5rem;
  }

  .info-table table,
  .info-table th,
  .info-table td {
    text-align: center;
  }

  .info-table th {
    font-size: 2rem;
  }

  .game-product {
  width: 300px;
  height: 700px;
  }

  .cover--big {
    height: 25rem;
  }

  .cover--small {
    height: 15rem;
  }

  .cover--smallest {
    height: 7rem;
  }

  .review {
    border-radius: 30px;
    width: 120px;
    padding: 8px 4px 4px 4px;
    margin: auto;
    text-transform: uppercase;
    font-family: var(--captain);
  }

  .review img {
    width: 20px;
  }

  .italic {
    font-size: 1rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  input[type="password"] {
    width: 450px;
  }

  input[type="text"],
  input[type="email"],
  input[type="textarea"],
  input[type="tel"],
  input[type="number"],
  input[type="password"],
  input[type="date"],
  input[type="month"] {
    padding: 5px 10px;
    font-size: 0.9rem;
  }

  input[type="textarea"] {
    width: 450px;
    min-height: 80px;
  }

  .pricetag {
    font-size: 2.5rem;
  }

  .cta {
    font-size: 2rem;
    padding: 5px 20px;
  }

  .error {
    margin-top: 10%;
    border-radius: 500px;
  }

  .error h1,
  .error p {
    font-size: 2rem;
  }

  .return {
    font-size: 3rem;
  }

  footer {
    border-radius: 50px 50px 0px 0px;
  }
}